<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Perles des saveurs - Catalogue
-->

<!-- End of HubSpot code snippet -->
{% extends "../layouts/base-catalogue.html" %}
{% block body %}
{# {% module "module_16181303503753" path="/padok/modules/header", label="header" %} #}
<div class="catalogue-template">
    {% if blog_author %}
    {# Author Block Listing - You can manage it here #}
    {% elif tag %}
    {# Tag Listing - You can manage it here #}
    {% else %}
    <!--Classic Listing - You can manage it here -->
    {% module "module_16932173756371" path="/globexplorer/modules/hero-section", label="hero-section" %}
    {% module "module_16950282307011" path="/globexplorer/modules/text-icon", label="text-icon" %}
    {% module "module_16932173886012" path="/globexplorer/modules/cover-recipe", label="cover-recipe" %}
    {% module "module_16932248485891" path="/globexplorer/modules/text-module", label="text-module" %}
    <section id="{{module.module_identity}}" class="catalogue">
        <div class="container">
            <div class="tag-listing">
                {% for tag in blog_tags('default', 250) %}
                <a class="tag{% if tag.name|lower|replace(' ', '-') == tag_control %} active{% endif %}"
                    href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div class="listing">
                {% for product in contents %}
                <a href="{{ product.absolute_url }}" class="product">
                    <div class="featured-image">
                        <img src="{{ product.featured_image }}" alt="{{ product.name }}">
                    </div>
                    <div class="wrapper">
                        <div class="title-product">{{ product.name }}</div>
                        <div class="author">
                            Par {{product.blog_post_author.display_name
                            }}
                        </div>
                    </div>
                    <div class="btn secondary dark">
                        Voir en détails
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Pagination -->
    {% if contents.total_page_count > 1 %}
    <nav class="container-blog-pagination">
        {% set page_list = [-9 ,-8, -7, -6 ,-5, -4, -3 ,-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
        15,
        16] %}
        {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
        {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
        {% elif current_page_num == 2 %}{% set offset = 1 %}
        {% elif current_page_num == 1 %}{% set offset = 2 %}
        {% else %}{% set offset = 0 %}{% endif %}

        {% if current_page_num > 1 %} <a class="arrow previous" href="{{ blog_page_link(last_page_num) }}">
            <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5.39773 0.499999L6.27273 1.36364L2.67045 4.96591L12 4.96591L12 6.21591L2.67045 6.21591L6.27273 9.80682L5.39773 10.6818L0.306819 5.59091L5.39773 0.499999Z"
                    fill="#121212" />
            </svg>
        </a>
        {% endif %}
        <div class="blog-pagination">
            {% for page in page_list %}
            {% set this_page = current_page_num + page + offset %}
            {% if this_page == 1 %}
            <a class="blog-pagination__link {{ " blog-pagination__link--active" if this_page==current_page_num }}"
                href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
            {% endif %}
            {% endfor %}
            {% if current_page_num > 2 %} <p>...</p>
            {% endif %}
            {% for page in page_list %}
            {% set this_page = current_page_num + page + offset %}
            {% if this_page > 1 %}
            {% if this_page >= contents.total_page_count %} {% else %} <a class="blog-pagination__link {{ "
                blog-pagination__link--active" if this_page==current_page_num }}"
                href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if current_page_num < contents.total_page_count - 3 %} <p>...</p>
                {% endif %}
                {% for page in page_list %}
                {% set this_page = current_page_num + page + offset %}
                {% if this_page ==
                contents.total_page_count %}
                <a class="blog-pagination__link {{ " blog-pagination__link--active" if this_page==current_page_num }}"
                    href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
                {% endif %}
                {% endfor %}
        </div>
        {% if current_page_num < contents.total_page_count %}<a class="arrow next {{ "
            blog-pagination__next-link--disabled" if !next_page_num }}"
            href="{{ blog_page_link(current_page_num + 1) }}">
            <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.60227 10.5L5.72727 9.63636L9.32955 6.03409H0V4.78409H9.32955L5.72727 1.19318L6.60227 0.318182L11.6932 5.40909L6.60227 10.5Z"
                    fill="#121212" />
            </svg>
            </a>
            {% endif %}
    </nav>
    {% endif %}
</div>
{% endblock body %}