// Here you can setup your form options
h3.form-title {
    display: none;
}

form {
    &.hs-form {
        padding: 0px;

        div.hs-form-field {
            margin-bottom: 25px;

            label {
                font-size: 16px;
                margin: 0;
                color: $text-color2;

                span+span {
                    color: rgba($color3, 1);
                    margin-left: 2px;
                }

                &:not(.hs-form-checkbox-display):not(.hs-form-booleancheckbox-display) {
                    font-weight: 600;
                }
            }

            legend {
                color: grey;
                display: block !important;
                font-size: 80%;
                margin: 0 0 6px 0;
            }

            div.input {

                input:not([type='checkbox']):not([type='radio']):not([type='file']),
                select,
                textarea {
                    font-family: $font2;
                    width: 100% !important;
                    color: rgba($text-color2, 1);
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid rgba($text-color2, 0.4);
                    border-radius: 0;
                    padding: 10px 45px 10px 0;
                    outline: none;
                    -webkit-transition: 0.3s border, 0.3s box-shadow;
                    -moz-transition: 0.3s border, 0.3s box-shadow;
                    transition: 0.3s border, 0.3s box-shadow;
                    margin: 0px;
                    box-sizing: border-box;

                    &::placeholder {
                        color: rgba($color: $text-color2, $alpha: 0.4);
                    }

                    &.invalid {
                        border-bottom: 1px solid $color5;
                        background-position: 100% 50%;
                        background-repeat: no-repeat;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 12C2.25 6.62296 6.60418 2.25 11.953 2.25C17.356 2.25 21.75 6.62517 21.75 12C21.75 17.3759 17.3759 21.75 12 21.75C6.62407 21.75 2.25 17.3759 2.25 12ZM11.953 3.75C7.42752 3.75 3.75 7.45234 3.75 12C3.75 16.5491 7.45093 20.25 12 20.25C16.5491 20.25 20.25 16.5491 20.25 12C20.25 7.44957 16.5277 3.75 11.953 3.75Z' fill='%23FF0000'/%3E%3Cpath d='M11 8C11 7.44772 11.4477 7 12 7C12.5523 7 13 7.44772 13 8V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V8ZM11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16Z' fill='%23FF0000'/%3E%3C/svg%3E");
                    }
                }

                textarea {
                    height: 180px;
                }

                select {
                    -moz-appearance: none;
                    /* Désactive l'apparence par défaut de Firefox */
                    appearance: none;
                    /* Désactive l'apparence par défaut */
                    -webkit-appearance: none;
                    appearance: none;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath opacity='0.4' d='M1.10052 1L6.05027 5.94975L11 1' stroke='%23FFFFFB' stroke-width='1.5'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: right 15px top 50%;
                    background-size: 12px 8px;
                    padding-right: 38px;
                    height: 40px;

                    &::-ms-expand {
                        display: none;
                    }

                    option {
                        font-weight: normal;
                        background-color: #fff;
                        color: $text-color1;
                    }

                }

                input[type='file'] {
                    width: 100% !important;
                    background: #ffffff;
                    border: 1px dashed rgba($color1, 1);
                    border-radius: 0;
                    padding: 10px;
                    cursor: pointer;
                    outline: none;
                }

                ul.inputs-list {
                    display: flex;
                    margin: 0px;
                    padding: 0px;

                    li {
                        list-style-type: none;
                        margin-right: 20px;
                        margin-bottom: 0px;

                        &:last-child {
                            margin-right: 0px;
                        }

                        input[type='checkbox'],
                        input[type='radio'] {
                            position: absolute;
                            opacity: 0;
                        }

                        input[type='checkbox'] {
                            &:checked+span:before {
                                background: $text-color2;
                            }

                            &:checked+span:after {
                                display: block;
                                left: 1px;
                                top: 6px;
                                width: 11px;
                                height: 11px;
                                border-radius: 2px;
                                position: absolute;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'%3E%3Cpath d='M2.50003 5L5.12503 7.5L9.50003 2.5' stroke='%23121212' stroke-width='1.22222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: auto;
                                content: '';
                            }
                        }

                        span {
                            font-size: 16px;
                            position: relative;
                            cursor: pointer;
                            padding: 0;

                            &::before {
                                content: '';
                                margin-right: 6px;
                                margin-top: 4px;
                                display: inline-block;
                                vertical-align: text-top;
                                width: 14px;
                                height: 14px;
                                background: transparent;
                                border: 1px solid rgba($text-color2, 1);
                                border-radius: 2px;
                            }
                        }

                        input[type='radio'] {
                            position: absolute;
                            opacity: 0;

                            &:checked {
                                &+span {
                                    &:after {
                                        opacity: 1;
                                        transform: scale(1);
                                        transition: 0.5s;
                                        -webkit-transition: 0.5s;
                                    }
                                }
                            }

                            &+span {
                                font-size: 16px;
                                position: relative;
                                cursor: pointer;
                                padding: 0;

                                &:before {
                                    content: '';
                                    margin-right: 6px;
                                    margin-top: 5px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 14px;
                                    height: 14px;
                                    background: transparent;
                                    border: 1px solid rgba($text-color2, 1);
                                    border-radius: 100%;
                                }

                                &:after {
                                    content: '';
                                    width: 8px;
                                    height: 8px;
                                    background-color: $text-color2;
                                    display: block;
                                    opacity: 0;
                                    transition: 0s;
                                    -webkit-transition: 0s;
                                    border-radius: 50%;
                                    top: 8px;
                                    left: 3px;
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
            }
        }

        fieldset {
            width: 100%;
            max-width: 100%;

            .hs-richtext {
                color: $text-color2;
            }

            &.form-columns-2 {
                display: flex;
                justify-content: space-between;

                @media (max-width: 700px) {
                    flex-direction: column;
                }

                div.field {
                    width: calc(100% / 2 - 20px);

                    @media (max-width: 700px) {
                        width: 100%;
                    }
                }
            }

            &.form-columns-3 {
                display: flex;
                justify-content: space-between;

                @media (max-width: 700px) {
                    flex-direction: column;
                }

                div.field {
                    width: calc(100% / 3 - 20px);

                    @media (max-width: 700px) {
                        width: 100%;
                    }
                }
            }

            ul.hs-error-msgs {
                color: rgba($color3, 1);
                margin: 5px 0px 0px 0px;
                list-style-type: none;
                padding: 0px;

                li {
                    label {
                        &.hs-main-font-element {
                            color: $color5;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            div.hs_rgpd {
                ul {
                    margin: 0px;
                    padding: 0px;

                    li {
                        list-style: none;

                        label {

                            input[type='checkbox'],
                            input[type='radio'] {
                                position: absolute;
                                opacity: 0;
                            }

                            input[type='checkbox'] {
                                &:checked+span:before {
                                    background: rgba($color1, 1);
                                    border-color: rgba($color1, 1);
                                }

                                &:checked+span:after {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    left: 6px;
                                    top: 6px;
                                    width: 5px;
                                    height: 9px;
                                    border: solid #fff;
                                    border-width: 0 2px 2px 0;
                                    transform: rotate(45deg);
                                }

                                +span {
                                    position: relative;
                                }

                                +span:before {
                                    content: '';
                                    margin-right: 6px;
                                    margin-top: 3px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 17px;
                                    height: 17px;
                                    background: #ffffff;
                                    border: 1px solid rgba($color1, 1);
                                }
                            }
                        }
                    }
                }
            }
        }

        .legal-consent-container {
            color: $text-color2;

            .hs-form-booleancheckbox-display {
                span {
                    margin-left: 0;
                }
            }
        }

        div.hs_error_rollup {
            color: $color5;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            margin: 30px 0;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                li {
                    label {
                        margin: 0px;
                    }
                }
            }
        }

        div.hs_input_file {
            input[type='file'] {
                width: 100% !important;
                background: #ffffff;
                border: 1px dashed rgba($color1, 1);
                border-radius: 0;
                padding: 10px;
                cursor: pointer;
                outline: none;
            }
        }

        div.hs_submit {
            margin-top: 30px;
        }
    }

    .hs_submit {
        .actions {
            width: fit-content;
            position: relative;
            background-color: $color2;
            border-radius: 50%;

            &:hover:after {
                transform: translate(-50%, -50%) scale(1.02);
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0.92);
                background-color: transparent;
                border: 1px solid $text-color2;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                will-change: transform;
                transition: transform 0.3s;
            }

            input[type="submit"] {
                font-size: 14px;
                width: 130px;
                height: 130px;
                min-width: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: transparent;
                color: $text-color2;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                padding: 0;
                border: none;
                z-index: 111;
            }
        }
    }
}