.label {
    font-size: 14px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;

    @media screen and (max-width: $size3) {
        font-size: 12px;
    }

    &.grey {
        color: rgba($color: $text-color2, $alpha: 0.5);
    }

    &.grey-second {
        color: rgba($color: $color4, $alpha: 0.5);
    }
}