.tag-listing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 90px 0;

    .tag {
        display: block;
        text-decoration: none;
        border-radius: 45px;
        padding: 5px 15px;
        border: 0.5px solid $color1;
        color: $color1;
        transition: all 0.3s;

        &:hover,
        &.active {
            background-color: $color1;
            color: $text-color2;
        }
    }

    &.dark {
        .tag {
            border: 0.5px solid $text-color2;
            color: $text-color2;

            &:hover,
            &.active {
                background-color: $text-color2;
                color: $text-color1;
            }
        }
    }
}