.cover-recipe {
    background-color: $color1;
    position: relative;
    overflow: hidden;

    padding-top: var(--pt);
    padding-bottom: var(--pb);

    @media screen and (max-width: 767px) {
        padding-top: calc(var(--pt) / 2);
        padding-bottom: calc(var(--pb) / 2);
    }

    .inner {
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .img-wrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 105px 0;
        display: flex;
        align-items: flex-end;

        &.left {
            justify-content: flex-start;
        }

        &.right {
            justify-content: flex-end;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(335deg, rgba(18, 18, 18, 0.75) 13.53%, rgba(18, 18, 18, 0.20) 100%);
        }

        .container {
            width: 100%;
            display: flex;
            align-items: flex-end;

            &.left-position {
                justify-content: flex-start;
            }

            &.right-position {
                justify-content: flex-end;
            }
        }

        .text-wrapper {
            position: relative;
            z-index: 11;
            width: 425px;
            max-width: 100%;

            .title {
                font-family: $font1;
                font-weight: 500;
                margin-bottom: 45px;
                font-size: 60px;
                line-height: 1.1;

                * {
                    margin: 0;
                }
            }

            .description {
                p {

                    +p {
                        margin-top: 30px;
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            * {
                color: $text-color2;
            }

            a.btn {
                margin: 30px 30px 0 0;
            }
        }
    }
}