.main-hero-section-copy {
    position: relative;
    overflow: hidden;
    background-color: $color1;

    .logo-loader {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 111;
    }

    .container {
        width: 100%;
    }

    .wrapper {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;
        position: absolute;

        .clip {
            grid-area: 1 / 1 / -1 / -1;
            display: grid;
            will-change: clip-path;
            top: 0 !important;
            //clip-path: inset(50% 50% 50% 50% round 0);

            .clip__img {
                background-size: cover;
                background-position: 50% 50%;
            }
        }
    }


    .container {
        position: relative;
        z-index: 11;
    }

    .first-content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1,
        .description {
            color: $text-color2;
            text-align: center;
        }

        h1 {
            width: 1100px;
            max-width: 100%;
            margin: 0 auto 45px;
        }

        .description {
            width: 870px;
            max-width: 100%;
            margin: 0 auto;
            opacity: 0;
        }

        div.target {
            &.center {}

            &.right {
                display: block;
                width: fit-content;
                margin: 0 0 0 auto;

                @media screen and (max-width: $size2) {
                    margin: 0 auto;
                    width: auto;

                    h1,
                    h2,
                    p {
                        text-align: center !important;
                    }
                }
            }
        }

        >div.target {
            position: relative;
            width: 100%;

            p {
                transform: translateY(5px);
                opacity: 0;
            }

            a.btn {
                opacity: 0;
            }
        }

        a.btn {
            position: absolute;
            right: -65px;
            bottom: 0;

            @media screen and (max-width: $size1) {
                position: relative;
                right: inherit;
                bottom: inherit;
                margin: 45px auto 0;
            }
        }
    }

    .second-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: $size4) {
            padding-bottom: 105px;
        }

        .label {
            margin-bottom: 30px;
        }

        .featured-text {
            font-size: 70px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            letter-spacing: 0.7px;
            color: $text-color2;
            margin-bottom: 45px;

            p {
                margin: 0;
            }

            span {
                font-family: $font1;
                color: $color2;
                font-size: 80px;
            }

            @media screen and (max-width: $size3) {
                font-size: 45px;

                span {
                    font-size: 55px;
                }
            }
        }

        a.btn {
            width: fit-content;
        }
    }
}