.recipes {
    .tag-listing {
        margin-top: 0;
    }

    .recipe-wrapper {
        &:nth-child(n+4) {
            margin-top: 120px;
        }
    }

    &.invert {
        .icon-wrapper img {
            filter: invert(1);
        }
    }
} 