.recipes {
    padding-top: var(--pt);
    padding-bottom: var(--pb);

    @media screen and (max-width: 767px) {
        padding-top: calc(var(--pt) / 2);
        padding-bottom: calc(var(--pb) / 2);
    }

    .label {
        margin-bottom: 25px;
    }

    &.dark {
        background-color: $color1;

        .title {
            color: $text-color2;
        }

        .recipe-wrapper {

            &::before,
            &::after {
                background-color: rgba($color: $text-color2, $alpha: 0.2);
            }

            .recipe {
                .title-recipe {
                    color: $text-color2;
                }

                .description {
                    color: $text-color2;
                }

                .informations .information {
                    border: 0.5px solid $text-color2;
                    color: $text-color2;
                }
            }
        }
    }

    &.light {
        background-color: #fff;

        .recipe-wrapper {

            &::before,
            &::after {
                background-color: rgba($color: $text-color1, $alpha: 0.2);
            }

            .recipe {
                .title-recipe {
                    color: $text-color1;
                }
            }

            .description {
                color: $text-color1;
            }

            .informations .information {
                border: 0.5px solid $text-color1;
                color: $text-color1;
            }
        }
    }

    .container>.label,
    .title {
        text-align: center;
    }

    .title {
        margin-bottom: 135px;

        * {
            margin-bottom: 0;
        }

        @media screen and (max-width: $size3) {
            margin-bottom: 0;
        }
    }

    a.btn {
        display: block;
        margin: 135px auto 0;
        width: fit-content;

        @media screen and (max-width: $size3) {
            margin: 30px auto 0;
        }
    }

    .recipes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -70px;

        @media screen and (max-width: $size2) {
            margin: 0 -30px;
        }


        @media screen and (max-width: $size3) {
            margin: 0 0;
            flex-wrap: wrap;
        }


        .recipe-wrapper {
            padding: 0 70px;
            width: calc(100% / 3);
            position: relative;

            @media screen and (max-width: $size2) {
                padding: 0 30px;
            }

            @media screen and (max-width: $size3) {
                padding: 0 0;
                width: 100%;
                margin: 75px 0;
            }
        }

        &.length-1 {
            justify-content: center;
        }

        &.length-2 {
            justify-content: center;

            .recipe-wrapper:nth-child(2) {

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 1px;

                    @media screen and (max-width: $size3) {
                        height: 1px;
                        width: 100%;
                    }
                }

                &::before {
                    left: 0;

                    @media screen and (max-width: $size3) {
                        top: -76px;
                    }

                }
            }
        }

        &.length-3 {

            .recipe-wrapper {

                &:nth-child(2),
                &:nth-child(5),
                &:nth-child(8) {

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 1px;

                        @media screen and (max-width: $size3) {
                            height: 1px;
                            width: 100%;
                        }
                    }

                    &::before {
                        left: 0;

                        @media screen and (max-width: $size3) {
                            top: -76px;
                        }

                    }

                    &::after {
                        right: 0;

                        @media screen and (max-width: $size3) {
                            top: inherit;
                            bottom: -75px;
                        }
                    }
                }
            }
        }

        .recipe {
            position: relative;
            overflow: hidden;
            width: 100%;


            &:hover {
                .wrapper-image img {
                    transform: scale(1.05);
                }

                .title-recipe {
                    color: $color2;
                }
            }

            a {
                text-decoration: none;
            }

            .featured-image {

                .wrapper-image {
                    position: relative;
                    overflow: hidden;
                    border-radius: 300px;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    margin-bottom: 60px;

                    img {
                        transition: transform 0.3s;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .tag {
                position: relative;
                z-index: 11;
                text-align: center;
            }

            .title-recipe {
                font-family: $font1;
                font-size: 30px;
                line-height: 1.35;
                margin-bottom: 15px;
                text-align: center;

                transition: color 0.3s;

                @media screen and (max-width: $size2) {
                    font-size: 22px;
                }

                @media screen and (max-width: $size3) {
                    font-size: 20px;
                }
            }

            .description {
                font-size: 15px;
                text-align: center;
            }

            .informations {
                margin-top: 15px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .information {
                    margin-top: 15px;
                    border-radius: 45px;
                    display: flex;
                    height: 30px;
                    padding: 5px 15px;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    @media screen and (max-width: $size3) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}