.text-module {
    padding-top: var(--pt);
    padding-bottom: var(--pb);

    @media screen and (max-width: 767px) {
        padding-top: calc(var(--pt) / 2);
        padding-bottom: calc(var(--pb) / 2);
    }

    .label,
    .title {
        text-align: center;
        margin: 0 auto; 
    }

    &.dark {
        background-color: $color1;

        .title * {
            color: $text-color2;

            &:last-child {
                margin: 0;
            }
        }
    }
}