@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// COLORS
$text-color1: #262626;
$text-color2: #FFFFFB;
$color1: #121212;
$color2: #857750;
$color3: #E7E7E7;
$color4: #999BA3;
$color5: #FF003C;

//FONTS
$font1: 'Diphylleia', serif;
$font2: 'Poppins', sans-serif;

//SIZES BREAKPOINT
$size0: 1340px;
$size1: 1140px;
$size2: 1080px;
$size3: 768px;
$size4: 640px;
$size5: 480px;