.catalogue-template {
    position: relative;
    overflow: hidden;

    .tag-listing-template {
        padding-top: 210px;

        .label,
        h1 {
            text-align: center;
            margin: 0 auto;
            display: block;
        }
    }

    .catalogue {

        .label,
        .title {
            text-align: center;
            margin: 0 auto;
        }

        .listing {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .container-blog-pagination {
        padding-bottom: 180px;
    }
}