<section class="recipe-hero-section">
    <div class="container">
        <div class="recipe-information">
            <div class="label grey">
                {{module.label_value}}
            </div>
            <h1 class="white">
                {{module.title}}
            </h1>
            <div class="description">
                {{module.description}}
            </div>
            <div class="informations">
                {% for item in module.sub_informations %}
                <div class="information white">
                    {% if item.image_field.src %}
                    <div class="icon-wrapper">
                        <img loading='lazy' src='{{item.image_field.src}}' alt='{{item.image_field.alt}}'
                            width='{{item.image_field.width}}' height='{{item.image_field.height}}' />
                    </div>
                    {% endif %}
                    <span>
                        {{item.text_field}}
                    </span>
                </div>
                {% endfor %}
            </div>
            <div class="label grey">
                {{module.second_label_value}}
            </div>
            <div class="social-icons">
                <a target="_blank"
                    class="ml-1 social--icon gradient-img d-flex justify-content-center align-items-center"
                    href="http://www.facebook.com/sharer.php?u={{content.absolute_url}}">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_583_138)">
                            <path
                                d="M20 10C20 4.47715 15.5229 0 10 0C4.47715 0 0 4.47715 0 10C0 14.9912 3.65684 19.1283 8.4375 19.8785V12.8906H5.89844V10H8.4375V7.79688C8.4375 5.29063 9.93047 3.90625 12.2146 3.90625C13.3084 3.90625 14.4531 4.10156 14.4531 4.10156V6.5625H13.1922C11.95 6.5625 11.5625 7.3334 11.5625 8.125V10H14.3359L13.8926 12.8906H11.5625V19.8785C16.3432 19.1283 20 14.9912 20 10Z"
                                fill="#FFFFFB" />
                        </g>
                        <defs>
                            <clipPath id="clip0_583_138">
                                <rect width="20" height="20" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a target="_blank"
                class="ml-1 social--icon gradient-img d-flex justify-content-center align-items-center"
                href="https://www.addtoany.com/add_to/linkedin?linkurl={{ content.absolute_url }}&amp;linkname={{ content.name|escape|striptags }}" target="_blank" rel="noopener noreferrer">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.25 0H3.75C1.67969 0 0 1.67969 0 3.75V16.25C0 18.3203 1.67969 20 3.75 20H16.25C18.3203 20 20 18.3203 20 16.25V3.75C20 1.67969 18.3203 0 16.25 0ZM6.1839 16.9772H3.07692L3.05889 7.67428H6.16587L6.1839 16.9772ZM4.55228 6.45733H4.53425C3.51863 6.45733 2.86358 5.75721 2.86358 4.88582C2.86358 3.99339 3.53966 3.31731 4.57332 3.31731C5.60697 3.31731 6.24099 3.99339 6.26202 4.88582C6.26202 5.75721 5.60397 6.45733 4.55228 6.45733ZM16.9561 16.9772H13.8221V11.9231C13.8221 10.7001 13.4976 9.86779 12.4038 9.86779C11.5685 9.86779 11.1178 10.4297 10.9014 10.9736C10.8203 11.1689 10.7993 11.4363 10.7993 11.7097V16.9772H7.65024L7.63221 7.67428H10.7813L10.7993 8.98738C11.2019 8.36538 11.872 7.48498 13.4766 7.48498C15.4657 7.48498 16.9531 8.78305 16.9531 11.5745V16.9772H16.9561Z" fill="white"/>
                    </svg>                                             
             </a>
            </div>
        </div>
        <div class="featured-image">
            <div class="inner">
                <img class="fit-cover" src="{{ module.image.src }}" alt="{{ module.image.alt }}"
                    width="{{ module.image.alt }}" height="{{ module.image.height }}" />
            </div>
        </div>
    </div>
</section>