<section id="{{module.module_identity}}"
    class="banner-cta {% if module.content_style.padding_choice == 'classic' %}{% if module.content_style.section_type != 'none' %} section-{{ module.content_style.section_type }}{% endif %}{% if module.content_style.padding_top == false %} pt-0{% endif %}{% if module.content_style.padding_bottom == false %} pb-0{% endif %}{% endif %}"
    {% if module.content_style.padding_choice=='custom' %}
    style="--pt:{{ module.content_style.custom_padding_top }}px; --pb:{{ module.content_style.custom_padding_bottom }}px;"
    {% endif %}>
    <div class="module-wrapper">
        <div class="container">
            <div>
                <div class="left-wrapper">
                    <div class="title">
                        {{module.title}}
                    </div>
                    <div class="description">
                        {{module.description}}
                    </div>
                </div>
                <a href="{{module.button.url_field.href}}" class="btn primary reverse">
                    <span>{{module.button.button_text}}</span>
                </a>
            </div>
        </div>
    </div>
</section>