<section id="{{module.module_identity}}"
    class="text-icons {% if module.content_style.padding_choice == 'classic' %}{% if module.content_style.section_type != 'none' %} section-{{ module.content_style.section_type }}{% endif %}{% if module.content_style.padding_top == false %} pt-0{% endif %}{% if module.content_style.padding_bottom == false %} pb-0{% endif %}{% endif %}"
    {% if module.content_style.padding_choice=='custom' %}
    style="padding-top: {{ module.content_style.custom_padding_top }}px; padding-bottom: {{ module.content_style.custom_padding_bottom }}px;"
    {% endif %}>
    <div class="container">
        <div class="label grey">
            {{module.label_value}}
        </div>
        <div class="title">
            {{module.title}}
        </div>
        <div class="items">
            {% for item in module.items %}
            <div class="item">
                {% if item.image_field.src %}
                <div class="icon-wrapper">
                    <img loading='lazy' src='{{item.image_field.src}}' alt='{{item.image_field.alt}}'
                        width='{{item.image_field.width}}' height='{{item.image_field.height}}' />
                </div>
                <div class="title-item">
                    {{item.title_item}}
                </div>
                <div class="description-item">
                    {{item.description}}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>