section.password-prompt {
    background-color: red;
    padding: 250px 0px;
    position: relative;
    text-align: center;

    h1 {
        color: $color1;
    }

    div.container {
        form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 400px;
            max-width: 100%;

            input[type="password"] {

                &::placeholder {
                    opacity: 1;
                    color: #fff;
                }
            }

            input[type="submit"] {
                font-family: $font2;
                cursor: pointer;
                position: relative;
                display: inline-block;
                line-height: 1.25;
                letter-spacing: 0.16px;
                white-space: normal;
                vertical-align: middle;
                text-decoration: none;
                user-select: none;
                overflow: hidden;
                color: $text-color1;
                transition: all 0.5s;
            }
        }
    }
}